<div class="container">
  <nav class="navbar navbar-expand-sm border-bottom mb-4">
    <div class="collapse navbar-collapse d-flex justify-content-between">
      <form class="d-flex me-auto">
        <a [routerLink]="['']" class="navbar-brand text-dark"><i class="fab fa-bootstrap"></i> Online Shop</a>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['/form-product']" class="nav-link btn btn-primary">Create product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-dark border-0">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-dark border-0">Sale</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/shopping-card']" class="nav-link btn-warning rounded">Shopping card</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>